<div class="row">
<div class="page-header">
<h1 class="titulo">Lista de Artigos Publicos</h1>
</div>

  
  
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Pasta</th>
      
    </tr>
  </thead>

  <tbody>
    <% @examples.each do |example| %>
      <div class="link_too"    
      <tr>
        <td class="td-index"><%= link_to example.name, example %></td>
        <td><%= example.folder.name %></td>
        
      </tr>
      
      </div>
    <% end %>
    <br>
  </tbody>
</table>

<br>

<%= will_paginate @examples, renderer: BootstrapPagination::Rails %>
</div>



